@import 'tailwindcss';
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .content {
        flex: 1;
    }

    footer {
        background: #343a40;
        color: white;
        padding: 20px 0;
        margin-top: 40px;
    }

    .navbar-nav {
        gap: 22px;
    }

    body {
        font-family: 'Merriweather', serif;
    }

    .content {
        flex: 1;
    }

    footer {
        background: #343a40;
        color: white;
        padding: 20px 0;
        margin-top: 40px;
    }

   
    .navbar-nav .nav-link:hover {
        color: #c40000 !important;
    }

    footer {
        font-family: 'Merriweather', serif;
    }

   

    .footer-links a {
        text-decoration: none;
        color: #000;
        font-size: 14px;
        transition: color 0.3s ease;
    }

 
    .content {
        flex: 1;
    }

  

    .navbar-nav {
        gap: 22px;
    }

    body {
        font-family: 'Merriweather', serif;
    }

    .navbar-nav .nav-link {
        font-family: 'Merriweather', serif;
        color: black;
        padding: 12px 0;
        font-size: 17px;
        transition: color 0.3s ease;
    }


    footer {
        font-family: 'Merriweather', serif;
    }

    .footer-links li {
        margin-bottom: 8px;
    }

 
    .txt {
        color: #000;
        text-decoration: none;
    }

    .txt:hover {
        text-decoration: underline;
        text-decoration-color: #000;
    }

    .red {
        color: #B00020;
        text-decoration: none;
    }

    .smll {
        color: #2B2E34;
        text-decoration: underline;
        text-decoration-color: #2B2E34;
    }

    .smll:hover {
        text-decoration: none;

    }

    .red:hover {
        text-decoration: underline;
        text-decoration-color: #B00020;
    }


    .live-dot {
        width: 10px;
        height: 10px;
        background-color: #B00020;
        border-radius: 50%;
        display: inline-block;
        margin-right: 1 px;
        animation: pulseDot 1s infinite;
    }


  

    .content {
        flex: 1;
    }

    footer {
        background: #343a40;
        color: white;
        padding: 20px 0;
        margin-top: 40px;
    }

    

    footer {
        font-family: 'Merriweather', serif;
    }

   

 
    .txt {
        color: #000;
        text-decoration: none;
    }

    .txt:hover {
        text-decoration: underline;
        text-decoration-color: #000;
    }

    .red {
        color: #B00020;
        text-decoration: none;
    }

    .red:hover {
        text-decoration: underline;
        text-decoration-color: #B00020;
    }

    .smll {
        color: #2B2E34;
        text-decoration: underline;
        text-decoration-color: #2B2E34;
    }

    .smll:hover {
        text-decoration: none;

    }

    .video {
        color: #eee;
        text-decoration: none;
    }

    .video:hover {
        text-decoration: underline;
        text-decoration-color: #eee
    }

    .see-more {
        text-decoration: underline;
        color: #000;
        padding: 6px 12px;
        transition: background 0.3s ease;
    }

    .see-more:hover {
        background: #f2f2f2;
        text-decoration: none;
    }

    .see-more-wrapper {
        padding: 12px 0;
        transition: background 0.3s ease;
    }

    .see-more-wrapper:hover {
        background: #f2f2f2;
    }

    .nav-pills .nav-link.active {
        background-color: #3a3a3a !important;
    }

    .nav-pills .nav-link:hover {
        background-color: #3a3a3a !important;
        color: #fff !important;
    }

    /* Chrome / Edge */
    .custom-scroll::-webkit-scrollbar {
        width: 5px;
    }

    .custom-scroll::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-scroll::-webkit-scrollbar-thumb {
        background-color: #bfbfbf;
        border-radius: 10px;
    }



    .live-dot {
        width: 10px;
        height: 10px;
        background-color: #B00020;
        border-radius: 50%;
        display: inline-block;
        margin-right: 1 px;
        animation: pulseDot 1s infinite;
    }

    @keyframes pulseDot {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0.3;
        }

        100% {
            opacity: 1;
        }
    }


   
    .article-content {
        max-width: 720px;
        font-family: Georgia, "Times New Roman", serif;
        font-size: 20px;
        line-height: 1.8;
        color: #222;
    }

    .article-content p {
        margin-bottom: 26px;
    }

    .image-caption {
        font-size: 13px;
        color: #666;
        margin-top: 8px;
        margin-bottom: 18px;
    }
